<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>items</title>
    <style>
        .card.g-2.g-lg-3.px-2 {
            margin: 20px;
        }

        .row.container.g-2.g-lg-3 {
            text-align: center;
            margin-left: 80px;
            margin-bottom: 10px;
        }

        .img-fluid {
            width: 1136px;
            padding-left: 12px;
            height: auto;
            margin-left: 68px;
        }

        img.d-block.img-fluid {
            width: 1175px;
            padding-left: 120px;
            margin: 1px;
        }

        img.card-img-top {
            height: 300px;
            padding: 18px;
            border-radius: -5px 22px 6px 12px;
            margin-left: -7px;
            width: 250px;
        }

        element.style {
            width: 18rem;
        }

        .card.g-2.g-lg-3.px-2 {
            box-shadow: 6px 0px 25px -3px;
            border-radius: 15px 30px 46px 31px;
        }

        .card.g-2.g-lg-3.px-2 {
            margin: 10px;
            margin-left: 11px;
        }

        .card.g-2.g-lg-3.px-2 {
            box-shadow: 6px 0px 25px -3px;
            border-radius: 15px 30px 46px 31px;
        }

        img.d-block.img-fluid {
            width: 600px;
            padding-left: 14px;
            margin: 1px;
        }
    </style>
</head>

<body>
    <div class="row container g-2 g-lg-3 px-2">
        <div class="col">
            <div class="card g-2 g-lg-3 px-2" style="width: 16rem;">
                <img src="/static/image/boy5.jpg" class="card-img-top" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Jacket</h5>
                    <p class="card-text">₹ 1500</p>
                    <p class="card-text">good product</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card g-2 g-lg-3 px-2" style="width: 16rem;">
                <img src="/static/image/braslet.jpg" class="card-img-top" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Braclate</h5>
                    <p class="card-text">₹ 100</p>
                    <p class="card-text">good product</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card g-2 g-lg-3 px-2" style="width: 16rem;">
                <img src="/static/image/cap1.jpg" class="card-img-top" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cap</h5>
                    <p class="card-text">₹ 1900</p>
                    <p class="card-text">good product</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>